<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="">
    <meta name="author" content="">
    <link rel="icon" href="">
    <!--<link rel="stylesheet" href="public/style.css">-->
    <link href="css/style.css" rel="stylesheet">
    <!-- link para carregara as fontes-->
    <script src="https://kit.fontawesome.com/11a0ae1d38.js" crossorigin="anonymous"></script>

    <title>Início</title>
</head>

<!-- Testando a instalação do servidor -->

<body>


    <div id="grid">
        <header>
            <nav id="nav-principal">
                <nav id="nav-info-perfil">
                    <a href="#"><img src="image/images/perfil.jpg" alt="" id="imagem-perfil"></a>
                    <a href="#"><span class="caveat"><%=infoDesigne.nome%></span></a>
                </nav>

                <nav id="nav-menu-desktop">
                    <ul id="menu-desktop">
                        <li>
                            <span id="contatos" class="itens-menu" onmouseover="mostrarContatos(); esconderHamburguer(); esconderConfiguracoes()" onmouseout="timeContatos()"><i class="far fa-comments"></i></span>
                            <ul id="subMenu-contatos" onmouseover="mostrarContatos()" onmouseout="esconderContatos()">
                                <li><a href="tel:+55<%=infoDesigne.whatsapp%>">Whatsapp</li>
                                    <li><a href="mailto:<%=infoDesigne.email%>">E-mail</a></li>
                                <li><a href="tel:+55<%=infoDesigne.telefone%>">Telefone</a></li>
                            </ul>
                        </li>
                        <li>
                            <span id="configuracoes" class="itens-menu" onmouseover="mostrarConfiguracoes(); esconderHamburguer(); esconderContatos()" onmouseout="timeConfiguracoes()"><i class="fas fa-cog"></i></span>
                            <ul id="subMenu-configuracoes" onmouseover="mostrarConfiguracoes()" onmouseout="esconderConfiguracoes()">
                                <li><a href="#">Tema claro</a></li>
                                <li><a href="#">Tema Escuro</a></li>
                            </ul>
                        </li>
                        <li>
                            <div id="menu-hamburguer" onmouseover="mostrarHamburguer(); esconderContatos(); esconderConfiguracoes()" onmouseout="timeHamburguer()">
                                <div id="primeira-barra"></div>
                                <div id="segunda-barra"></div>
                                <div id="terceira-barra"></div>
                            </div>
                            <!-- Criar rota para abrir página de serviços-->
                            <ul id="subMenu-hamburguer" onmouseover="mostrarHamburguer()" onmouseout="esconderHamburguer()">

                                <li><a href="#">Sobre mim</a></li>
                                <li><a href="#">Serviços</a></li>
                                <li><a href="/visitante/sair">Sair</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>

                <!-- Preciso criar uma rota para renderizar a página de serviços-->
                <nav id="nav-menu-mobile">
                    <span>Menu</span>
                    <ul>
                        <li><a href="#">Sobre mim</a></li>
                        <li><a href="#">Contatos</a></li>
                        <ul>
                            <li><a href="#">Whatsapp</a></li>
                            <li><a href="#">E-mail</a></li>
                            <li><a href="#">Telefone</a></li>
                        </ul>
                        <li><a href="#">Serviços</a></li>
                        <ul>
                            <li><a href="#">Tema claro</a></li>
                            <li><a href="#">Tema Escuro</a></li>
                        </ul>
                    </ul>
                </nav>
            </nav>
        </header>
        <main>
            <hgroup>
                <h1>Saudações!</h1>
                <h2>Espero que goste dos projetos, e que eu possa realizar essa grande etapa de sua vida.</h2>
            </hgroup>

            <h3>Últimos Projetos</h3>

            <section id="ultimosProjetos">
                <% for(let x = 0; x < projetos.length; x++){%>
                    <article>
                        <button onclick="expandirProjeto(this.value)" value="<%=projetos[x].url %>"><img src="image/tmp/uploads/<%=projetos[x].url %>" alt=""></button>
                        <p>
                            <%= projetos[x].tituloImagem %>
                        </p>
                    </article>
                    <%}%>
            </section>

            <h3>Todos os Projetos</h3>

            <!--Seção para mostrar todos os projetos -->
            <section id="todosProjetos">
                <% for(let x = 0; x < projetos.length; x++){%>
                    <article>
                        <!-- Cada href desse abaixo levará para o arquivo routes, 
                            expandirProjetos, que captará o nome do projeto e url 
                            do mesmo e após isso renderizar na página de expandir o projeto ejs
                        -->
                        <!-- Quando clicar em cima da imagem desejada, automaticamente através do javascript aparecerá um modal, uma janela -->
                        <button onclick="expandirProjeto(this.value)" value="<%=projetos[x].url %>"><img src="image/tmp/uploads/<%=projetos[x].url %>" alt=""></button>
                        <p>
                            <%= projetos[x].tituloImagem %>
                        </p>
                    </article>

                    <!-- Neste span vamos abrir uma janela modal com o projeto em tamanho grande, real-->
                    <span id="janela-modal-<%=projetos[x].url %>" class="d-esconder projeto-expandido">
                        <img src="image/tmp/uploads/<%=projetos[x].url %>">
                        <button onclick="esconderProjeto(this.value)" value="<%=projetos[x].url %>">Fechar</button>
                    </span>

                    <%}%>
            </section>
        </main>
        <footer>
            <span id="copyright">&copy;</span>
            <h2>Desenvolvido por
                <%=infoDesigne.nome%>
            </h2>
        </footer>

        <script>
            function expandirProjeto(nomeImagem) {
                document.getElementById("janela-modal-" + nomeImagem).className = "d-mostrar projeto-expandido"
            }

            function esconderProjeto(nomeImagem) {
                document.getElementById("janela-modal-" + nomeImagem).className = "d-esconder projeto-expandido"
            }
        </script>

        <script src="js/script.js"></script>
    </div>
</body>

</html>